.main {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 50vw;
}
.card{
    display: flex;
    gap: 20px;
    padding-right: 20px;
    align-items: center;
}
.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 480px) {
    .main {
        width: unset;
    }
}

.horizontal_split {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 480px) {
    .horizontal_split {
        flex-direction: column;
    }
}

.horizontal_split div {
    flex: 40%;
}

.vertical {
    display: flex;
    flex-direction: column;
}