.main {
  padding-left: 6vw;
  padding-right: 6vw;
  min-height: 100vh;
  padding-top: 5em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap:50px;
}

.horizontal {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .horizontal {
    flex-wrap: wrap;
  }
}

.horizontal div {
  flex: 50%;
}

.geek {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.image_container {
  height: 400px;
  width: 400px;
}

@media only screen and (max-width: 480px) {
  .image {
    position: relative;
    height: 80vw;
    width: 80vw;
  }
}

.center {
  text-align: center;
}

.realms {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

@media only screen and (max-width: 480px) {
  .realms {
    flex-direction: column;
  }
}

.realm {
  flex: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.realm p {
  font-size: 14px;
  color: #ECF0F1;
}

.card {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-end;
}

.support_realm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  
  gap: 10px;
}

.support_realm button {
  width: fit-content;
}

.support_realm p {
  font-size: 13px;
}


.link {
  color: #3498DB;
}