.box {
    background-color: #2C3E50;
    font-family: Arial, sans-serif;
    color: #FBFCFC;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.horizontal {
    display: flex;
    align-items: flex-end;
}
@media only screen and (max-width: 320px) {
    .horizontal {
        flex-wrap: wrap;
    }
    .subject_name {
        font-size: 16px;
    }
}

.subject_code {
    font-family: 'Courier New', monospace;
    padding: 2px;
    color: #FBFCFC;
    border-radius: 3px;
    background-color: #5D6D7E;
    margin-left: 4px;
}
.sem {
    margin-left: 4px;
}
@media only screen and (max-width: 320px) {
    .subject_code {
        font-size: 14px;
    }
    .sem{
        font-size: 14px;
    }
    .basics{
        font-size: 14px;
    }
}
.cozyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #5D6D7E;
    border-radius: 3px;
    padding: 4px;
}

.cozyBox h5 {
    font-size: 20px;
}
@media only screen and (max-width: 320px) {
    .cozyBox h5 {
    font-size: 16px;
}
.cozyBox p {
    font-size: 12px;
}
}